
<div class="wrapper">
  <aside class="main_sidebar">
    <ul>
      <li><i class="fa fa-arrows"></i><a routerLink="">Home</a></li>
      <li><i class="fa fa-battery-2"></i><a routerLink="/calendar">Calendar</a></li>
      <li class="active"><i class="fa fa-bell"></i><a >Στατιστικά</a></li>
      <li><i class="fa fa-bicycle"></i><a >test</a></li>
      <li><i class="fa fa-circle"></i><a >test</a></li>
      <li><i class="fa fa-crosshairs"></i><a href="#">test</a></li>
      <li><i class="fa fa-deaf"></i><a href="#">test</a></li>
      <li><i class="fa fa-desktop"></i><a href="#">test</a></li>
      <li><i class="fa fa-dot-circle-o"></i><a href="#">test</a></li>
      <li><i class="fa fa-folder"></i><a href="#">test</a></li>
    </ul>
  </aside>
  <div class="mian">
    <h1>Prakash </h1>
  </div>
</div>

