/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: 'Averta Std' !important;
  background-image: url('src/assets/img/blue-gradient-background.png');
}

